#datetime-picker {
  font-size: 25px;
}

[data-start] {
  font-size: 25px;
  background-color: rgb(247, 247, 249);
}

[data-start]:not([disabled]) {
  background-color: rgb(25, 188, 23);
}
[data-start][disabled] {
  background-color: rgb(136, 136, 135);
}

.timer {
  display: flex;
  gap: 25px;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  font-size: 45px;
}
.label {
}

.last-secounds {
  color: red;
}
